html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background-color: #F7F4EA;
    box-shadow: inset 0 0 120px rgba(94, 111, 106, 0.13);
}

html, body {
    height: 100%;
    overflow: hidden; 
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgba(233, 237, 201, 0.55);
    box-shadow: 0 2px 15px rgba(94, 111, 106, 0.13);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    color: #6A994E;
    font-weight: bold;
    font-style: italic;
    font-size: 26px;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    gap: 20px; /*yazıların ayrılmasını sağladı*/
}

.nav-bar a {
    text-decoration: none;
    color: #386641;
    font-weight: 600;
    font-style: italic;
}

.nav-bar a:hover {
    color: #A7C957;
}

.main-content {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
}

.hydra-container {
    max-width: 900px;
    margin: 0 0 50px 0;
    text-align: center;
    padding: 0 20px;
}

.hydra-container h1 {
    font-size: 36px;
    color: #4F5F3E;
    font-style: italic;
    margin-bottom: 16px;
    font-weight: 640;
    letter-spacing: 0.3px;
    text-shadow: 0 4px 12px rgba(79, 95, 62, 0.35);
}

.hydra-tagline {
    font-size: 20px;
    color: #7A8C5A;
    font-weight: 550;
    margin-bottom: 13px;
    font-style: italic;
    text-shadow: 0 4px 12px rgba(122, 140, 90, 0.35);
}

.hydra-description {
    font-size: 15px;
    line-height: 1.7;
    color: #5F6B57;
    font-weight: 500;
    font-style: italic;
    text-shadow: 0 4px 12px rgba(94, 111, 106, 0.35);
    margin-bottom: 14px;
}

.hydra-invite {
    font-size: 14px;
    color: #cf5f78;
    letter-spacing: 0.7;
    font-style: italic;
    font-weight: 500;
    text-shadow: 0 4px 12px rgba(236, 129, 218, 0.35);
}

.h-cards-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    max-width: 1600px;
    margin: 0;
    padding: 0 20px;
}

.h-cards {
    width: 300px;
    height: 420px;
    transition: transform 0.3s ease;
}

.h-cards:hover {
    transform: translateY(-10px);
}

.h-cards-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
    cursor: pointer;
}

.h-cards.flipped .h-cards-inner {
    transform: rotateY(180deg);
}

.h-card-front, .h-card-back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inset: 0; 
    backface-visibility: hidden;
    border-radius: 26px;
    padding: 28px;
    box-shadow: 0 20px 40px rgba(138, 111, 92, 0.15);
}

.h-cards:hover .h-card-front, .h-cards:hover .h-card-back {
    box-shadow:  0 28px 60px rgba(90, 80, 60, 0.22); 
}

.h-card-front {
    background: transparent;
    overflow: hidden;
    border: 1px solid #fde5d6;
}

.h-card-front::after { /*yazının gozukmesı icin ekstra katman*/
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,rgba(0, 0, 0, 0.55),rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0));
    z-index: 1;
}

.h-card-front h3 {
    color: #F6F4EF;
    font-style: italic;
    font-size: 30px;
    margin-bottom: 8px;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-shadow: 0 4px 12px rgba(0,0,0,0.45);
}

.h-card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.h-card-front h3, .h-card-front span {
    position: relative;
    z-index: 2;
}

.h-card-front span {
    font-size: 14px;
    color: #A7C957;
    letter-spacing: 0.4px;
    font-style: italic;
    font-weight: 500;
    text-shadow: 0 6px 20px rgba(0,0,0,0.45);
}

.h-card-front span:hover {
    color: #cae2a3;
}

.h-card-back {
    padding: 26px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: rotateY(180deg);
    overflow-y: auto;
    scrollbar-width: none;
    text-align: left;
    list-style-type: none;
    background: linear-gradient(180deg,#FBFAF6 0%,
#F4EFE7 100%);
    font-size: 14px;
    border: 1px solid rgba(92, 110, 78, 0.25);
    box-shadow: 0 20px 40px rgba(90, 80, 60, 0.15),
    0 6px 16px rgba(90, 80, 60, 0.08);
}

.h-card-back h4 {
    margin: 0 0 14px 0;
    font-size: 20px;
    font-weight: 700;
    color: #4F5F3E;
    letter-spacing: 0.6;
    text-shadow: 0 4px 12px rgba(79, 95, 62, 0.26);
    font-style: italic;
}

.h-card-back h4::after {
    content: "";
    display: block;
    margin-top: 10px;
    height: 1px;
    width: 70%;
    background: linear-gradient(to right, #7A8C5A, transparent);
}

.h-card-back::-webkit-scrollbar {
    display: none;
}

.h-card-back ul {
    list-style: none;
    padding: 0;
    margin: 14px 0 0 0;
}

.h-card-back li {
    position: relative;
    padding-left: 22px;
    font-size: 14px;
    color: #5E5A52;
    font-weight: 470;
}

.h-card-back li::before {
    content: "✧";
    position: absolute;
    left: 0;
    top: 0;
    color: #8B9A6D;
    font-size: 14px;
    line-height: 1.2;
}

.h-card-back li strong{
    color: #6A7A4F;
    opacity: 0.9;             
    font-weight: 700;
    letter-spacing: 0.3px;
}

.h-card-back li:last-child {
    margin-top: 16px;
    padding-top: 14px;
    border-top: 1px dashed rgba(184, 106, 127, 0.35);
    font-style: italic;
    color: #cf5f78;
}

.h-cards.flipped .p-card-back{
    box-shadow:  0 28px 60px rgba(90, 80, 60, 0.22);
}