html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background-color: #FBF6F1;
}

html, body {
    height: 100%;
    overflow: hidden; /* SCROLLBAR GİDER */
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgba(247, 238, 230, 0.95);
    box-shadow: 0 2px 15px rgba(75, 0, 130, 0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    color: #6e4932;
    font-weight: bold;
    font-style: italic;
    font-size: 26px;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    gap: 20px; /*yazıların ayrılmasını sağladı*/
}

.nav-bar a {
    text-decoration: none;
    color: #8A5A3C;
    font-weight: 600;
    font-style: italic;
}

.nav-bar a:hover {
    color: #be6d3b;
}

.main-content {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
}

.protection-container {
    max-width: 900px;
    margin: 0 0 50px 0;
    text-align: center;
    padding: 0 20px;
}

.protection-container h1 {
    font-size: 36px;
    color: #8A5A3C;
    font-style: italic;
    margin-bottom: 16px;
    font-weight: 640;
    letter-spacing: 0.3px;
    text-shadow: 0 4px 12px rgba(117, 87, 5, 0.35);
}

.protect-tagline {
    font-size: 20px;
    color: #B08A6A;
    font-weight: 550;
    margin-bottom: 13px;
    font-style: italic;
    text-shadow: 0 4px 12px rgba(180, 150, 68, 0.35);
}

.protect-description {
    font-size: 15px;
    line-height: 1.7;
    color: #6F5A4A;
    font-weight: 500;
    font-style: italic;
    text-shadow: 0 4px 12px rgba(255, 187, 2, 0.35);
    margin-bottom: 14px;
}

.protect-invite {
    font-size: 14px;
    color: #96a004;
    letter-spacing: 0.7;
    font-style: italic;
    font-weight: 500;
    text-shadow: 0 4px 12px rgba(184, 245, 15, 0.35);
}

.p-cards-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    max-width: 1600px;
    margin: 0;
    padding: 0 20px;
}

.p-cards {
    width: 300px;
    height: 420px;
    transition: transform 0.3s ease;
}

.p-cards:hover {
    transform: translateY(-10px);
}

.p-cards-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
    cursor: pointer;
}

.p-cards.flipped .p-cards-inner {
    transform: rotateY(180deg);
}

.p-card-front, .p-card-back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inset: 0; 
    backface-visibility: hidden;
    border-radius: 26px;
    padding: 28px;
    box-shadow: 0 20px 40px rgba(116, 105, 10, 0.13);
}

.p-cards:hover .p-card-front, .p-cards:hover .p-card-back {
    box-shadow: 0 25px 50px rgba(116, 105, 10, 0.26); 
}

.p-card-front {
    background: transparent;
    overflow: hidden;
    border: 1px solid #fde5d6;
}

.p-card-front::after { /*yazının gozukmesı icin ekstra katman*/
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,rgba(0, 0, 0, 0.55),rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0));
    z-index: 1;
}

.p-card-front h3 {
    color: #FFFFFF;
    font-style: italic;
    font-size: 30px;
    margin-bottom: 8px;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-shadow: 0 6px 20px rgba(0,0,0,0.55);
}

.p-card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.p-card-front h3, .p-card-front span {
    position: relative;
    z-index: 2;
}

.p-card-front span {
    font-size: 14px;
    color: #F2E2D2;
    letter-spacing: 0.4px;
    font-style: italic;
    font-weight: 500;
    text-shadow: 0 6px 20px rgba(0,0,0,0.45);
}

.p-card-front span:hover {
    color: #f3bb84;
}

.p-card-back {
    padding: 26px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: rotateY(180deg);
    overflow-y: auto;
    scrollbar-width: none;
    text-align: left;
    list-style-type: none;
    background: linear-gradient(180deg,#FFFFFF 0%,#fcf4e8 100%);
    color: #6F5A4A;
    font-size: 14px;
    border: 1px solid rgba(116, 105, 10, 0.14);
    box-shadow: 0 24px 60px rgba(116, 105, 10, 0.16);
}

.p-card-back h4 {
    margin: 0 0 14px 0;
    font-size: 20px;
    font-weight: 700;
    color: #8A5A3C;
    letter-spacing: 0.6;
    text-shadow: 0 4px 12px rgba(124, 122, 3, 0.322);
    font-style: italic;
}

.p-card-back h4::after {
    content: "";
    display: block;
    margin-top: 10px;
    height: 1px;
    width: 70%;
    background: linear-gradient(to right, rgba(138, 90, 60, 0.55), transparent);
}

.p-card-back::-webkit-scrollbar {
    display: none;
}

.p-card-back ul {
    list-style: none;
    padding: 0;
    margin: 14px 0 0 0;
}

.p-card-back li {
    position: relative;
    padding-left: 22px;
    font-size: 14px;
    color: #9c6b3c;
    font-weight: 470;
}

.p-card-back li::before {
    content: "✧";
    position: absolute;
    left: 0;
    top: 0;
    color: #c07a3c;
    font-size: 14px;
    line-height: 1.2;
}

.p-card-back li strong{
    color: #7e6e14;
    opacity: 0.9;             
    font-weight: 700;
    letter-spacing: 0.3px;
}

.p-card-back li:last-child {
    margin-top: 16px;
    padding-top: 14px;
    border-top: 1px dashed rgba(63, 55, 8, 0.22);
    font-style: italic;
    color: #a85d2f;
}

.p-cards.flipped .p-card-back{
    box-shadow: 0 28px 70px rgba(116, 105, 10, 0.22);
}